{% extends "lenotes/base.html" %} {% block title %} About Us {% endblock %} {% block content %}

<div class="section">
    <br/>
    <h2>About Us</h2>
    <p>
        Lenote is a GPL product from <a href="https://github.com/Schnee-Cy/Lenote">Lenote</a>
    </p>
    <p>
        GPL v3 licensed by <a href="https://github.com/Schnee-Cy/Lenote">Lenote</a>
    </p>
    <br/>
    <h2>Designers and Developers</h2>
    <h5>Yiyan Sun <a href="https://github.com/sunyiyan123">https://github.com/sunyiyan123</a></h5>
    <h5>Zihuang Su <a href="https://github.com/Schnee-Cy">https://github.com/Schnee-Cy</a></h5>
    <h5>Shenghao Qiu <a href="https://github.com/oqsh">https://github.com/oqsh</a></h5>
    <h5>Jiangxin Sun <a href="https://github.com/I-Am-Yours">https://github.com/I-Am-Yours</a></h5>
    <br/>
    <a href="{% url 'lenotes:file_download' %}">点击此处下载 帮助手册</a>
</div>

{% endblock content %}