{% extends 'lenotes/base.html' %} {% block header %}
<h3><a href="{% url 'lenotes:group' group.id %}">{{ group }}</a></h3>
{% endblock header %} {% block content %}


<p>
    {{group.intro}}
    <ul class="nav navbar-nav navbar-right">
        <a class="btn btn-default" href="{% url 'lenotes:manage' group.id %}" role="button">Manage</a>
    </ul>
</p>
   
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/diary_reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/diary_style.css' %}"> <!-- Resource style -->
    <script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'js/diary_main.js' %}"></script> <!-- Resource jQuery -->
<script src="{% static 'js/edit_diary.js' %}"></script>

<p></p>
<p></p>
<br></br>



<form enctype="multipart/form-data" action="#" method="post">
    {% csrf_token %}
    <input class = "btn btn-default" type="file" name="Imgfield">  </input>
    <input class = "btn btn-default" type="submit" value="创建图片">   </input>
</form>

<form enctype="multipart/form-data" action="#" method="post">
    {% csrf_token %}
    <input type="text" name="newText">  </input>
    <input class = "btn btn-default" type="submit" value="创建文本">   </input>
</form>
<br>

<div>
<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
                    <li><a href="#0" data-date="{{diary.date_added|date:'d/m/Y'}}" class="selected">{{diary.date_added|date:'m.d'}}</a></li> 
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content my_content">
        <div id="texform" style=" border:2px solid rgb(250, 250, 250); border-radius:10px; float: left; margin: 0 0 0 -170px; width: 200px;">
            <!-- <label for="">选中文本id</label>
            <input type="text" name="id" id="texId"> -->
            <br>
            <label for="">文本内容</label>
            <input type="text" name="content" id="texContent" oninput="changeContent(this)">
            <br>
            <!-- <label for="">x坐标</label>
            <input type="text" name="xAxis" id="texX">
            <br>
            <label for="">y坐标</label>
            <input type="text" name="yAxis" id="texY">
            <br> -->
            <label for="">字体颜色</label>
            <input class = "btn btn-default" type="button" value="红色" onclick="Fontcolor(1)">
            <input class = "btn btn-default" type="button" value="黑色" onclick="Fontcolor(2)">
            <input class = "btn btn-default" type="button" value="白色" onclick="Fontcolor(3)">
            <input class = "btn btn-default" type="button" value="绿色" onclick="Fontcolor(4)">
            <br> -->
            <label for="">字体大小</label>
            <!-- <input type="text" name="fontSize" id="texFontsize"> -->
            <input class = "btn btn-default" type="button" value="+" onclick="addFontsize()">
            <input class = "btn btn-default" type="button" value="-" onclick="subFontsize()">
            <br>
            <label for="">层次高度Z</label>
            <!-- <input type="text" name="zAxis" id="texZ"> -->
            <input class = "btn btn-default" type="button" value="+" onclick="addzindex()">
            <input class = "btn btn-default" type="button" value="-" onclick="subzindex()">
            <br>
            <input class = "btn btn-default" type="button" value="删除" onclick="delete_ele()">
            <input class = "btn btn-default" type="button" value="上传" onclick="AllUpload()">
        </div>


        <div id="picform" style=" border:2px solid rgb(250, 250, 250); border-radius:10px; float: left; margin: 0 0 0 -170px; width: 200px;">
            <!-- <label for="">选中图片id</label>
            <input type="text" name="picid" id="picId">  -->
            <br>
            <!-- <label for="">x坐标</label>
            <input type="text" name="xAxis" id="picX"> -->
            <br>
            <!-- <label for="">y坐标</label>
            <input type="text" name="yAxis" id="picY">
            <br> -->
            <label for="">长</label>
            <input type="text" name="height" id="picHeight" oninput="picHChange(this)">
            <br>
            <label for="">宽</label>
            <input type="text" name="width" id="picWidth" oninput="picWChange(this)">  
            <br>
            <label for="">层次高度Z</label>
            <!-- <input type="text" name="piczAxis" id="picZ"> -->
            <input class = "btn btn-default" type="button" value="+" onclick="addzindex()">
            <input class = "btn btn-default" type="button" value="-" onclick="subzindex()">
            <br>
            <input class = "btn btn-default" type="button" value="删除" onclick="delete_ele()">
            <input class = "btn btn-default" type="button" value="上传" onclick="AllUpload()">
        </div>
        
		<ol>
            <li data-date="{{diary.date_added|date:'d/m/Y'}}" class="selected">
            <div id="MainContent" style="height: 600px; border:6px outset; border-color:yellowgreen" >
                {% for tex in diary.textele_set.all %}
                    <div id="tex{{tex.id}}" style="position: absolute; left: {{tex.x}}px;  top: {{tex.y}}px; z-index:{{tex.zindex}};
                    font-size: {{tex.fontsize}}px; color: {{tex.fontcolor}}; 
                    " onmousedown="texmove(event,this)" onmouseup="reset()">{{tex.content}}</div>
                {% endfor %}

                {% for pic in diary.imgele_set.all %}
                    <div id="pic{{pic.id}}" style="position: absolute; left: {{pic.x}}px;  
                    width: {{pic.w}}px; height: {{pic.h}}px; z-index: {{pic.zindex}};
                    top: {{pic.y}}px;" onmousedown="picmove(event,this)" onmouseup="reset()"><img src="/media/{{pic.img}}" style="width: 100%; height:100%; " alt=""></div>
                {% endfor %}
            </div></li>

		</ol>
    </div> <!-- .events-content -->



{% endblock content %}
