html,
body {
    font-size: 100%;
    background: #fff;
}

p,
body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

ul,
label {
    margin: 0;
    padding: 0;
}

.banner-body {
    background: #fff 10px 0px;
    padding: 0em 0;
}

.navbar-nav1>li {
    float: none;
}

.navbar-nav1>li>a {
    padding: 10px 0;
    margin: 15px 10px;
    font-size: 1em;
    color: #212121 !important;
    width: 90%;
}

.navbar-nav1>li>a i {
    padding-left: 2em;
}

.navbar-nav1 {
    float: none;
}

.navbar-default1 .navbar-nav1>.active>a,
.navbar-default1 .navbar-nav1>.active>a:hover,
.navbar-default1 .navbar-nav1>.active>a:focus {
    color: #D57D39 !important;
    background: transparent;
    border-bottom: 1px solid;
}

.navbar-default1 .navbar-nav1>li>a:hover,
.navbar-default1 .navbar-nav1>li>a:focus {
    color: #D57D39 !important;
}


/*-- msg-text --*/

.msg-text {
    margin: 3em 0 4em;
    padding: 2em 0;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

.msg-text-left span {
    color: #212121;
    font-size: 2em;
}

.msg-text-right p {
    color: #999;
    font-size: 14px;
    margin: 0;
    line-height: 1.8em;
}

.msg-text-left {
    text-align: center;
}

.msg-text-bottom-left img {
    padding: .5em;
    border: 1px dotted #7D7D7D;
}

.msg-text-bottom-left h3 a {
    text-transform: capitalize;
    font-size: .85em;
    color: #D57D39;
    margin: 0.5em 0;
    display: block;
    line-height: 1.5em;
    text-decoration: none;
    width: 120%
}

.msg-text-bottom-left h3 a:hover {
    color: #999;
}

.msg-text-bottom-left p {
    font-size: 14px;
    color: #999;
    margin: 0;
    line-height: 1.8em;
}


/* Common style */

.msg-text-bottom-left figure {
    position: relative;
    float: none;
    overflow: hidden;
    margin: 0;
    min-width: 250px;
    max-width: 350px;
    width: 60%;
    height: 155px;
    background: none;
    text-align: center;
    cursor: pointer;
}

.msg-text-bottom-left figure img.one {
    width: 120%;
}

.msg-text-bottom-left figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.msg-text-bottom-left figure figcaption::before,
.msg-text-bottom-left figure figcaption::after {
    pointer-events: none;
}

.msg-text-bottom-left figure figcaption,
.msg-text-bottom-left figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.line_divide_group {
    background: #ddd;
    margin-top: 4px;
    display: inline-block;
    width: 1090px;
    height: 1px;
    _overflow: hidden;
    vertical-align: middle;
}

.line_divide_user {
    background: #ddd;
    margin-top: 4px;
    display: inline-block;
    width: 215px;
    height: 1px;
    _overflow: hidden;
    vertical-align: middle;
}

.my_content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
    height: 75px;
    width: 250px
}

.email_info {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
    height: 25px;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
}

.user_info {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    height: 50px;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
}

.creat_group_button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 10px 20px;
    background: -moz-linear-gradient( top, #ffffff 0%, #ffffff 25%, #ffffff 50%, #ffffff 75%, #ffffff);
    background: -webkit-gradient( linear, left top, left bottom, from(#ffffff), color-stop(0.25, #ffffff), color-stop(0.50, #ffffff), color-stop(0.75, #ffffff), to(#ffffff));
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.3);
    font-family: 'Open Sans', sans-serif;
}